# Eat Safe, Love

## Notebook Set Up

In [1]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# assign the uk_food database to a variable name
db=mongo["uk_food"]

In [4]:
# review the collections in our database
print(db.list_collection_names())

['establishments']

In [5]:
# assign the collection to a variable
establishments = db.establishments

In [6]:
# review a document in the establishments collection
review_document = db.establishments.find_one()
pprint(review_document)

{'AddressLine1': 'Wear Bay Road',
 'AddressLine2': 'Folkestone',
 'AddressLine3': 'Kent',
 'AddressLine4': '',
 'BusinessName': 'Wear Bay Bowls Club',
 'BusinessType': 'Pub/bar/nightclub',
 'BusinessTypeID': 7843,
 'ChangesByServerID': 0,
 'Distance': 4591.821311183521,
 'FHRSID': 647177,
 'LocalAuthorityBusinessID': 'PI/000041489',
 'LocalAuthorityCode': '188',
 'LocalAuthorityEmailAddress': 'foodteam@folkestone-hythe.gov.uk',
 'LocalAuthorityName': 'Folkestone and Hythe',
 'LocalAuthorityWebSite': 'http://www.folkestone-hythe.gov.uk',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'CT19 6PY',
 'RatingDate': '2014-03-31T00:00:00',
 'RatingKey': 'fhrs_4_en-gb',
 'RatingValue': '4',
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('64f469e91152d72dd7002507'),
 'geocode': {'latitude': {'$toDouble': '$geocode.latitude'},
             'longitude': {'$toDouble': '$geocode.longitude'}},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/647177',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 10, 'Hygiene': 5, 'Structural': 5}}

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [7]:
# Find the establishments with a hygiene score of 20
query = {"scores.Hygiene": 20}

In [8]:
# Use count_documents to display the number of documents in the result
count_hygiene_20 = establishments.count_documents(query)
print("Number of establishments with a hygiene score of 20:", count_hygiene_20)

Number of establishments with a hygiene score of 20: 41

In [9]:
# Display the first document in the results using pprint
first_hygiene_20 = establishments.find_one(query)
pprint(first_hygiene_20)

{'AddressLine1': '5-6 Southfields Road',
 'AddressLine2': 'Eastbourne',
 'AddressLine3': 'East Sussex',
 'AddressLine4': '',
 'BusinessName': 'The Chase Rest Home',
 'BusinessType': 'Caring Premises',
 'BusinessTypeID': 5,
 'ChangesByServerID': 0,
 'Distance': 4613.888288172291,
 'FHRSID': 110681,
 'LocalAuthorityBusinessID': '4029',
 'LocalAuthorityCode': '102',
 'LocalAuthorityEmailAddress': 'Customerfirst@eastbourne.gov.uk',
 'LocalAuthorityName': 'Eastbourne',
 'LocalAuthorityWebSite': 'http://www.eastbourne.gov.uk/foodratings',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'BN21 1BU',
 'RatingDate': '2021-09-23T00:00:00',
 'RatingKey': 'fhrs_0_en-gb',
 'RatingValue': '0',
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('64f469ea1152d72dd7004039'),
 'geocode': {'latitude': {'$toDouble': '$geocode.latitude'},
             'longitude': {'$toDouble': '$geocode.longitude'}},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/110681',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 20, 'Hygiene': 20, 'Structural': 20}}

In [10]:
# Convert the result to a Pandas DataFrame
import pandas as pd
results = establishments.find(query)
df_hygiene_20 = pd.DataFrame(list(results))

In [11]:
# Display the number of rows in the DataFrame
No_rows= len(df_hygiene_20)

print("Number of rows in the DataFrame for hygiene score of 20:", No_rows)

Number of rows in the DataFrame for hygiene score of 20: 41

In [12]:
# Display the first 10 rows of the DataFrame
df_hygiene_20.head(10)

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,LocalAuthorityWebSite,LocalAuthorityEmailAddress,scores,SchemeType,geocode,RightToReply,Distance,NewRatingPending,meta,links
0,64f469ea1152d72dd7004039,110681,0,4029,The Chase Rest Home,Caring Premises,5,5-6 Southfields Road,Eastbourne,East Sussex,...,http://www.eastbourne.gov.uk/foodratings,Customerfirst@eastbourne.gov.uk,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,{'longitude': {'$toDouble': '$geocode.longitud...,,4613.888288,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
1,64f469ea1152d72dd70043ba,612039,0,1970/FOOD,Brenalwood,Caring Premises,5,Hall Lane,Walton-on-the-Naze,Essex,...,http://www.tendringdc.gov.uk/,fhsadmin@tendringdc.gov.uk,"{'Hygiene': 20, 'Structural': 15, 'ConfidenceI...",FHRS,{'longitude': {'$toDouble': '$geocode.longitud...,,4617.965824,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
2,64f469ea1152d72dd70046c7,730933,0,1698/FOOD,Melrose Hotel,Hotel/bed & breakfast/guest house,7842,53 Marine Parade East,Clacton On Sea,Essex,...,http://www.tendringdc.gov.uk/,fhsadmin@tendringdc.gov.uk,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,{'longitude': {'$toDouble': '$geocode.longitud...,,4619.656144,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
3,64f469ea1152d72dd70048b4,172735,0,PI/000023858,Seaford Pizza,Takeaway/sandwich shop,7844,4 High Street,Seaford,East Sussex,...,http://www.lewes-eastbourne.gov.uk/,ehealth.ldc@lewes-eastbourne.gov.uk,"{'Hygiene': 20, 'Structural': 10, 'ConfidenceI...",FHRS,{'longitude': {'$toDouble': '$geocode.longitud...,,4620.421725,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
4,64f469ea1152d72dd70048c8,172953,0,PI/000024532,Golden Palace,Restaurant/Cafe/Canteen,1,5 South Street,Seaford,East Sussex,...,http://www.lewes-eastbourne.gov.uk/,ehealth.ldc@lewes-eastbourne.gov.uk,"{'Hygiene': 20, 'Structural': 10, 'ConfidenceI...",FHRS,{'longitude': {'$toDouble': '$geocode.longitud...,,4620.437179,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
5,64f469ea1152d72dd7005261,512854,0,12/00816/BUTH,Ashby's Butchers,Retailers - other,4613,777 Southchurch Road,Southend-On-Sea,Essex,...,http://www.southend.gov.uk,EnvironmentalHealth@southend.gov.uk,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,{'longitude': {'$toDouble': '$geocode.longitud...,,4625.565258,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
6,64f469ea1152d72dd7005482,1537089,0,22/00224/RESTUN,South Sea Express Cuisine,Restaurant/Cafe/Canteen,1,33 Alexandra Street,Southend-on-sea,Essex,...,http://www.southend.gov.uk,EnvironmentalHealth@southend.gov.uk,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,{'longitude': {'$toDouble': '$geocode.longitud...,,4626.200132,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
7,64f469ea1152d72dd70069ae,155648,0,EH/00006058,Golden Palace,Takeaway/sandwich shop,7844,7 London Road,Rayleigh,Essex,...,http://www.rochford.gov.uk,customerservices@rochford.gov.uk,"{'Hygiene': 20, 'Structural': 15, 'ConfidenceI...",FHRS,{'longitude': {'$toDouble': '$geocode.longitud...,,4632.276890,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f..."
8,64f469ea1152d72dd7006df2,1012883,0,17/00110/MIXED/S,The Tulip Tree,Restaurant/Cafe/Canteen,1,3 The Village,Chiddingstone,KENT,...,http://www.sevenoaks.gov.uk/,environmental.health@sevenoaks.gov.uk,"{'Hygiene': 20, 'Structural': 5, 'ConfidenceIn...",FHRS,{'longitude': {'$toDouble': '$geocode.longitud...,,4633.934041,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f..."
9,64f469ea1152d72dd70075ff,644109,0,41811,F & S,Retailers - other,4613,,81 Southernhay,Basildon,...,http://www.basildon.gov.uk,ehs@basildon.gov.uk,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,{'longitude': {'$toDouble': '$geocode.longitud...,,4636.552523,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f..."

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [13]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query = {
    "LocalAuthorityName": "London",
    "scores.RatingValue": {"$gte": 4}
}

# Use count_documents to display the number of documents in the result
count_london_rating_4 = establishments.count_documents(query)
print("Number of establishments in London with RatingValue >= 4:", count_london_rating_4)

Number of establishments in London with RatingValue >= 4: 0

In [14]:
# Display the first document in the results using pprint
first_london_rating_4 = establishments.find_one(query)
pprint(first_london_rating_4)

None

In [15]:
# Convert the result to a Pandas DataFrame
results = establishments.find(query)
df_london_rating_4 = pd.DataFrame(list(results))

In [16]:
No_rows= len(df_london_rating_4)

print("Number of rows in the DataFrame for London establishments with RatingValue >= 4:", No_rows)

Number of rows in the DataFrame for London establishments with RatingValue >= 4: 0

In [17]:
# Display the first 10 rows of the DataFrame
print("First 10 rows of the DataFrame for London establishments with RatingValue >= 4:")
print(df_london_rating_4.head(10))

First 10 rows of the DataFrame for London establishments with RatingValue >= 4:
Empty DataFrame
Columns: []
Index: []

### 3. What are the top 5 establishments with a `RatingValue` rating value of '5', sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [18]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score
# Convert latitude and longitude to floats
latitude = 51.49014200
longitude = 0.08384000

# Define the degree_search
degree_search = 0.01

# Create the query
query_top_5_rating_5 = {
    "geocode.latitude": {"$gte": latitude - degree_search, "$lte": latitude + degree_search},
    "geocode.longitude": {"$gte": longitude - degree_search, "$lte": longitude + degree_search},
    "scores.RatingValue": 5
}

In [19]:
sort_top_5_rating_5 = [("scores.Hygiene", -1)]  # 1 for ascending order

In [20]:
# Find the top 5 establishments matching the criteria and sorted by hygiene score
cursor_top_5_rating_5 = list(establishments.find(query_top_5_rating_5).sort(sort_top_5_rating_5).limit(5))
pprint(cursor_top_5_rating_5)

[]

In [21]:
# Convert result to Pandas DataFrame
df_top_5_rating_5 = pd.DataFrame(list(cursor_top_5_rating_5))
df_top_5_rating_5.head()

Empty DataFrame
Columns: []
Index: []

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [22]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest

# Print the number of documents in the result

# Print the first 10 results
pipeline_hygiene_0 = [
    {"$match": {"scores.Hygiene": 0}},
    {"$group": {"_id": "$LocalAuthorityName", "count": {"$sum": 1}}},
    {"$sort": {"count": -1}}
]

# Execute the aggregation pipeline and print the results
agg_result_hygiene_0 = list(establishments.aggregate(pipeline_hygiene_0))
print("Number of establishments with hygiene score of 0 in each Local Authority area:")
pprint(agg_result_hygiene_0)

Number of establishments with hygiene score of 0 in each Local Authority area:
[{'_id': 'Thanet', 'count': 1130},
 {'_id': 'Greenwich', 'count': 882},
 {'_id': 'Maidstone', 'count': 713},
 {'_id': 'Newham', 'count': 711},
 {'_id': 'Swale', 'count': 686},
 {'_id': 'Chelmsford', 'count': 680},
 {'_id': 'Medway', 'count': 672},
 {'_id': 'Bexley', 'count': 607},
 {'_id': 'Southend-On-Sea', 'count': 586},
 {'_id': 'Tendring', 'count': 542},
 {'_id': 'Colchester', 'count': 498},
 {'_id': 'Tunbridge Wells', 'count': 491},
 {'_id': 'Folkestone and Hythe', 'count': 480},
 {'_id': 'Eastbourne', 'count': 478},
 {'_id': 'Hastings', 'count': 464},
 {'_id': 'Bromley', 'count': 460},
 {'_id': 'Ashford', 'count': 427},
 {'_id': 'Havering', 'count': 397},
 {'_id': 'Dartford', 'count': 383},
 {'_id': 'Braintree', 'count': 382},
 {'_id': 'Basildon', 'count': 362},
 {'_id': 'Gravesham', 'count': 339},
 {'_id': 'Tonbridge and Malling', 'count': 325},
 {'_id': 'Thurrock', 'count': 313},
 {'_id': 'Barking and Dagenham', 'count': 301},
 {'_id': 'Canterbury City', 'count': 298},
 {'_id': 'Brentwood', 'count': 285},
 {'_id': 'Castle Point', 'count': 281},
 {'_id': 'Harlow', 'count': 274},
 {'_id': 'Uttlesford', 'count': 251},
 {'_id': 'Lewes', 'count': 250},
 {'_id': 'Sevenoaks', 'count': 223},
 {'_id': 'Maldon', 'count': 197},
 {'_id': 'East Hertfordshire', 'count': 189},
 {'_id': 'Rochford', 'count': 187},
 {'_id': 'Redbridge', 'count': 182},
 {'_id': 'Epping Forest', 'count': 180},
 {'_id': 'East Suffolk', 'count': 159},
 {'_id': 'Waltham Forest', 'count': 110},
 {'_id': 'Babergh', 'count': 97},
 {'_id': 'Wealden', 'count': 93},
 {'_id': 'Rother', 'count': 80},
 {'_id': 'Lewisham', 'count': 65},
 {'_id': 'Tandridge', 'count': 42},
 {'_id': 'City of London Corporation', 'count': 28},
 {'_id': 'Ipswich', 'count': 21},
 {'_id': 'Tower Hamlets', 'count': 9},
 {'_id': 'North Hertfordshire', 'count': 6},
 {'_id': 'Mid Sussex', 'count': 5},
 {'_id': 'Kensington and Chelsea', 'count': 1},
 {'_id': 'Sunderland', 'count': 1},
 {'_id': 'Dorset', 'count': 1},
 {'_id': 'Reading', 'count': 1},
 {'_id': 'Broxbourne', 'count': 1},
 {'_id': 'North Norfolk', 'count': 1}]

In [23]:
# Convert the result to a Pandas DataFrame
df_hygiene_0 = pd.DataFrame(agg_result_hygiene_0)
# Display the number of rows in the DataFrame
No_row = len(df_hygiene_0)
print("Number of rows in the DataFrame for establishments with hygiene score of 0 in each Local Authority area:", No_row )

# Display the first 10 rows of the DataFrame
df_hygiene_0.head(10)

Number of rows in the DataFrame for establishments with hygiene score of 0 in each Local Authority area: 55

               _id  count
0           Thanet   1130
1        Greenwich    882
2        Maidstone    713
3           Newham    711
4            Swale    686
5       Chelmsford    680
6           Medway    672
7           Bexley    607
8  Southend-On-Sea    586
9         Tendring    542